body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-width: 320px;
	background: #fff;
	font-family: 'Microsoft YaHei', 'Helvetica Neue', Arial, Helvetica,
		sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0, 0, 0, .87);
}

body, html {
	height: 100%;
}
.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {

    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.ui.grid {

    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;

}
.ui.grid {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;

}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.ui.centered.grid, .ui.centered.grid > .row, .ui.grid > .centered.row {

    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.ui.grid > .row {

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100% !important;
    padding: 0;
        padding-top: 0px;
        padding-bottom: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.ui.grid > * {

    padding-left: 1rem;
    padding-right: 1rem;

}

.ui.fluid.input {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.ui.input {

    font-size: 1em;

}
.ui.input {

    position: relative;
    font-weight: 400;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0,0,0,.87);

}

.ui.action.input:not([class*="left action"]) > .button:last-child, .ui.action.input:not([class*="left action"]) > .buttons:last-child > .button, .ui.action.input:not([class*="left action"]) > .dropdown:last-child {

    border-radius: 0 .28571429rem .28571429rem 0;

}
.ui.action.input:not([class*="left action"]) > .button:not(:first-child), .ui.action.input:not([class*="left action"]) > .buttons:not(:first-child) > .button, .ui.action.input:not([class*="left action"]) > .dropdown:not(:first-child) {

    border-radius: 0;

}
.ui.action.input > .button, .ui.action.input > .buttons > .button {

    padding-top: .78571429em;
    padding-bottom: .78571429em;
    margin: 0;

}
.ui.action.input > .button, .ui.action.input > .buttons {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

}
.ui.blue.button {

    -webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;

}
.ui.blue.button, .ui.blue.buttons .button {

    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;

}
.ui.button, .ui.buttons .button, .ui.buttons .or {

    font-size: 1rem;

}
.ui.button {

    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
        background-color: rgb(224, 225, 226);
        background-image: none;
    color: rgba(0,0,0,.6);
    font-family: 'Microsoft YaHei','Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
        padding-top: 0.785714em;
        padding-bottom: 0.785714em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;

}
[type="reset"], [type="submit"], button, html [type="button"] {

    -webkit-appearance: button;

}
button, select {

    text-transform: none;

}
button, input {

    overflow: visible;

}
button, input, optgroup, select, textarea {

    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;

}


.ui[class*="center aligned"].grid {

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.ui.grid + .grid {

    margin-top: 1rem;

}
.ui.grid {

    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;

}
.ui.grid {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;

}

.ui[class*="one column"].grid > .column:not(.row), .ui[class*="one column"].grid > .row > .column {

    width: 100%;

}
.ui.grid > .row > [class*="center aligned"].column.column, .ui.grid > [class*="center aligned"].column.column, .ui.grid > [class*="center aligned"].row > .column, .ui[class*="center aligned"].grid > .column, .ui[class*="center aligned"].grid > .row > .column {

    text-align: center;
    -ms-flex-item-align: inherit;
    align-self: inherit;

}
.ui.grid > .column:not(.row) {

    padding-top: 1rem;
    padding-bottom: 1rem;

}
.ui.grid > .column:not(.row), .ui.grid > .row > .column {

    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;

}