<!DOCTYPE html>
<html lang="cn">
<head>
<meta charset="UTF-8" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- //<meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>index</title>
<link rel="stylesheet" type="text/css" href="/static/index/index.css" />
<script type="text/javascript" src="../../static/js/common/include.html?version=202001140953"></script>

</head>
<body>
	 <a id = "jump">跳转到登录页面</a>
</body>
<script type="text/javascript">
	

</script>
</html>
